[Unit]
Description=Nomad-Hotspot
After=hostapd.service

[Service]
ExecStart=/usr/bin/screen -D -m -S nomad-hotspot /usr/bin/php /home/seth/nomad-hotspot/agent.php 
WorkingDirectory=/home/seth/nomad-hotspot
StandardOutput=inherit
StandardError=inherit
Restart=always
RestartSec=10
User=seth

[Install]
WantedBy=multi-user.target
