body {
  background-color: darkslategray;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.status-item {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
}

.menu-row {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 440px;
}

.button {
	height: 30px;
	width: 150px;

}

.vertlabel {
  writing-mode: lr;
  text-orientation: upright;
}

.nokc {
  background-color: crimson;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.warnc {
  background-color: darkorange;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.noticec {
  background-color: khaki;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.okc {
  background-color: forestgreen;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.nac {
  background-color: steelblue;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.unkc {
  background-color: lightgrey;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}