body {
  background-color: darkslategray;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

table {
  border-spacing: 0px;
}

th, td {
  padding: 0px;
}

.status-item {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
}

.menu-row {
  border-color: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  width: 100%;
}

.button {
	height: 30px;
	width: 150px;

}

.wibutton {
	height: 30px;
	width: 80%;
	align-content: left;
}

.vertlabel {
  writing-mode: lr;
  text-orientation: upright;
}

.nokc {
  background-color: crimson;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.warnc {
  background-color: darkorange;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.noticec {
  background-color: khaki;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.okc {
  background-color: forestgreen;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.nac {
  background-color: steelblue;
  border-radius: 10px;
  width: 20px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

.unkc {
  background-color: lightgrey;
  border-radius: 10px;
  color: white;
  font-family: "Verdana", "Lucidia Console";
}

     /* CSS for the collapsible sections */
      .collapsible-header {
        cursor: pointer;
        padding: 10px;
        #background-color: #f1f1f1;
        border: 1px solid #ddd;
        margin-bottom: 5px;
      }

      .collapsible-content {
        display: none;
        border: 1px solid #ddd;
        border-top: none;
        padding: 10px;
      }

      .collapsible-header:after {
        content: '\25B6'; /* Right-pointing triangle */
        float: right;
        margin-left: 5px;
        transition: transform 0.3s ease;
      }

      .collapsible-header.active:after {
        content: '\25BC'; /* Down-pointing triangle */
        transform: rotate(90deg);
      }

      /* Style for the password prompt overlay */
      .modal {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.4);
      }
      .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 300px;
        text-align: center;
      }
      .close-button {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
      }
      .close-button:hover,
      .close-button:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
      }